.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .header__name {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .header__nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  
  .nav-list li a:hover {
    opacity: 0.7;
  }
  
  .header__theme-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  
  body.dark-mode .nav-list li a {
    color: #fff;
  }
  
  body.dark-mode .nav-list li a:hover {
    opacity: 0.7;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-wrap: wrap;
      padding: 1rem;
    }
  
    .header__nav {
      order: 3;
      width: 100%;
      justify-content: flex-start;
      margin-top: 1rem;
    }
  
    .nav-list {
      gap: 1rem;
    }
  }